extends includes/main-page.pug

block bodyClasses
  - var bodyClasses = 'wrapper-color'

block header
  - var errorLinkClassName = ['header__logo', 'header__logo--500'];
  include includes/short-header.pug

block mainClasses
  - var mainClasses = 'main-page main-page--padding'

block main
    h1.visually-hidden Ошибка 500
    section.error.error--500
      h2.error__title.title.title--big Что-то пошло не так
      p.error__text.text.text--big Причин может быть много: сервер не выдержал нагрузку или в коде ошибка. Попробуйте повторить попытку позже.
      a.error__link.text.text--big(href='main.html') Вернуться на главную
