extends includes/main-page.pug

block bodyClasses
  - var bodyClasses = 'wrapper wrapper--nobackground'

block header
  include includes/admin-header-section.pug

block mainClasses
  - var mainClasses = 'main-page main-page--padding'

block main
  section.main-page__publication.publication
    h1.publication__title Комментарии
    ul.publication__list
      - var list = [ 1, 2, 3, 4, 5, 6, 7]
      each value in list
        - var text = value % 2 === 0 ? 'Игровая студия Playrix из Вологды потратила более $100 млн на покупку конкурентов в 2018 году' : '«Яндекс.Метрика» запустила бесплатный сервис для оценки эффективности баннеров и видеорекламы в реальном времени'
        li.publication__list-item
          .publication__header
            img.publication__list-image(src='img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
            b.publication__list-name Александр Петров
            time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
          a.publication__item-text(href='#') Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты.
          p.publication__text-strong #{text}
          button.publication__button.button.button--close-item(type='button')
            span.visually-hidden Закрыть строку списка

